<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Base</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'basic_app:list' %}" class="navbar-brand">Schools</a></li>
                    <li><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
                    <li><a href="#" class="nav-link">Register</a></li>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>  
    </body>
</html>